<section>
  <ul id="accordion">
    <li class="accordion-item active">
      <div class="accordion-header">Аккордеон 1</div>
      <div class="accordion-body">Вміст акордеону 1</div>
    </li>
    <li class="accordion-item">
      <div class="accordion-header">Аккордеон 2</div>
      <div class="accordion-body">Вміст акордеону 2</div>
    </li>
    <li class="accordion-item">
      <div class="accordion-header">Lorem.</div>
      <div class="accordion-body">Вміст акордеону 3</div>
    </li>
    <li class="accordion-item">
      <div class="accordion-header">Lorem.</div>
      <div class="accordion-body">Вміст акордеону 4</div>
    </li>
    <li class="accordion-item">
      <div class="accordion-header">Lorem.</div>
      <div class="accordion-body">Вміст акордеону 5</div>
    </li>
    <li class="accordion-item">
      <div class="accordion-header">Lorem.</div>
      <div class="accordion-body">Вміст акордеону 6</div>
    </li>
  </ul>
</section>
