<link rel="stylesheet" href="../css/FAQ.css" />
<section class="FAQ-section">
  <div class="accordion-container container">
    <button class="accordion">Section 1</button>
    <div class="panel">
      <p>Lorem ipsum...</p>
    </div>

    <button class="accordion">Section 2</button>
    <div class="panel">
      <p>Lorem ipsum...</p>
    </div>

    <button class="accordion">Section 3</button>
    <div class="panel">
      <p>Lorem ipsum...</p>
    </div>

    <button class="accordion">Section 4</button>
    <div class="panel">
      <p>Lorem ipsum...</p>
    </div>

    <button class="accordion">Section 5</button>
    <div class="panel">
      <p>Lorem ipsum...</p>
    </div>

    <button class="accordion">Section 6</button>
    <div class="panel">
      <p>Lorem ipsum...</p>
    </div>
  </div>
</section>
<script src="../js/FAQ.js"></script>
