.accordion-item {
  margin-bottom: 10px;
}
.accordion-item .accordion-header {
  cursor: pointer;

  padding: 10px;
  border-radius: 5px;
}
.accordion-item .accordion-body {
  display: none;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.accordion-item.active .accordion-body {
  display: block;
}

.active {
  display: block;
}
